<div class="bg-gray-100">
    <div class="grid grid-rows-2 mx-40 gap-8">
        <div class="text-4xl font-sans font-thin py-5 px-40 bg-white">
            <h1 class="flex justify-center">- Our Mission -</h1>
            <div class="text-lg my-6">
                <p>
                    To provide a team of well-trained personnel so as to relieve our clients of all
                    vexations and bothers appertaining to their safety, security and
                    management.
                </p>
            </div>
            <div>
            <h1 class="flex justify-center"> About Us </h1>
            <div class="text-lg my-6">
                <p>We are a professional agency providing customized security arrangements to
                    the industrial, commercial, and business houses
                    
                    Star securities has been one of the pioneers in the Private Security Industry.
                    Set up in 2000, the company has been a thought and knowledge leader since
                    its inception. Through the decade of its existence, Star has endeavored to
                    provide the best security solutions to its customers through innovation,
                    commitment to quality, training and strict compliance to international
                    standards.
                    
                    Setup as Investigation firm almost 10 years ago, today the company has
                    grown into a &quot;Total Security Solutions Provider&quot; offering manned guarding
                    (MG), investigations (C&amp;I), electronic security systems (ESS) and cash
                    services (CS) to over 250 corporate customers across 24 states.
                    
                    Star is an ISO 9001:2000 certified public limited company. Backed by a
                    trained workforce of over 2800 men &amp; supervisors and 100 banded
                    managers, Star delivers premium services with high quality and absolute
                    integrity.
                    
                    Star believes in continuously upgrading the quality of our resources and
                    infrastructure to support the ever-changing customer requirements. In
                    pursuance to this, Star wants the security business to implement a state-of-
                    the-art ERP Solution to manage the day-to-day operations of the company.</p>
                </div>
            </div>
        </div>
        
        <div class="text-4xl font-sans font-thin py-5 px-40 bg-white">
            <h1 class="flex justify-center">Chairman</h1>
            
        </div>
</div>

