<div class="w-full">
    <section class="py-0 text-center " id="home">
        <div class=" grid justify-items-center">
            <div class="hidden lg:flex lg:relative bg-holder pt-12">
                <div class="flex ">
                    <div class="order-2 order-none text-left text-left text-white pl-5 mt-5">

                        <h1 class="mb-5 text-5xl font-bold leading-tight">Star Security
                        </h1>
                        <p class="mx-1 text-3xl">Helps organizations develop innovative business and solutions <br
                                class="d-none lg:d-block" />focused on defining, and optimizing clients.</p>
                        <div class="flex grid grid-cols-12 pr-16 mt-5 space-x-8">
                            <button routerLink="/user/about"
                                class="col-span-5 transition flex text-xl transform rounded-full hover:-translate-y-1 motion-reduce:transition-none motion-reduce:hover:transform-none">
                                Read more 
                                <img class="my-1 ml-1" src="../../../../assets/images/right.png" alt="">
                            </button>

                            <button routerLink="/user/services"
                                class="col-span-5 rounded-full border-solid h-10 border-2 right border-white text-xl transition ease-in-out delay-100 hover:border-none hover:-translate-y-2 hover:scale-110 hover:bg-indigo-500 duration-300 hover:scale-100 hover:brightness-110 hover:animate-pulse">
                                Services
                            </button>
                        </div>
                    </div>
                    <div class="order-1 md:order-1 text-center md:text-right ml-52">
                        <img class="img-fluid img-hero" src="../../../../assets/images/img-hero3.jpg" width="500" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>